body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.toolbar {
    padding: 10px;
}

.toolbar button {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

.formula-bar {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

#address {
    width: 60px;
}

#formula {
    flex: 1;
    height: 25px;
}


.grid-container {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 30px auto;
    height: calc(100vh - 80px);
}

.top-row {
    grid-column: 2;
    display: flex;
}

.left-col {
    grid-row: 2;
}

.cells {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}


.cell {
    width: 100px;
    height: 25px;
    border: 1px solid #ccc;
    padding: 3px;
}

.row {
    display: flex;
}